*,
*::before,
*::after {
    box-sizing: border-box;
}

/*custom typography proprities  */
:root {
  --ff-primary: 'Red Hat Display', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 900;

  --clr-green: #4D96A9;
  --clr-purple: #855FB1;
  --clr-black: #28283D;
  --clr-grey: #87879D;
  --clr-green-hover: #8FE3F9;
  --clr-purple-hover: #D9B8FF;
  --fs-h1: 4rem;
  --fs-h2: 2.75rem;
  --fs-body: 1.125rem;
}


body {
  text-align: center;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}
/* header style */

.logo {
  padding: 1em 0;
}

.hero-tablet {
  margin: 2em 0 4em;
  max-width: 100%;
}
.hero-img {
  padding-right: 5em;
}
.btn {
  display: block;
  padding:1em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  font-weight:var(--fw-medium);
  color:#FFFFFF;
  background-color:var(--clr-green);
  text-align:center;
  transition: all 0.2s;
  border: none;
}
.btn:hover {
  background-color: var(--clr-green-hover);
}

.btn-div {
  display: contents;
}
.secondary-btn {
  background-color: var(--clr-purple);
}

.secondary-btn:hover {
  background-color: var(--clr-purple-hover);
}

.btn span {
  color: var(--clr-green-hover)
}

.about {
  margin: 4em auto 7em;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 6em; */
}

.circle {
  text-align: center;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 50%;
  display: inline-flex;
  border-right: solid 1px black;
  margin: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.circle::before {
  position: absolute;
  content: "";
  height: 4em;
  border-left: 2px solid #808080;
  bottom: 2.7em;
}


.item-img {
  max-width: 250px;
  border-radius: 0.9em;
  margin: 9px;
}


/* infos section */

.info {
  max-width: 900px;
  margin: 6em auto;
}

.overline {
  color: var(--clr-green);
  font-weight: var(--fw-bold);
  letter-spacing: 4px;
}
/* footer */

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/starter-code/tablet/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4D96A9;
    background-blend-mode: soft-light;
    color: #fff;
    padding: 4em;
}

.circle-footer {
  position: absolute;
  bottom: 73%;
}


@media (min-width: 786px) {
  .hero-tablet {
    display: none;
  }
  .hero-left {
    background-image: url('/starter-code/desktop/image-hero-left.png');
  }
  
  .hero-right {
    background-image: url('/starter-code/desktop/image-hero-right.png');
  }

  .hero-img {
    min-width: 400px;
    height: 400px;
    background-repeat: no-repeat;
  }
  .primary-img {
    display: flex;
    justify-content: space-between;
  }
  
 .btn {
   display: inline-block;
 }

 .btn-div {
   display: inline-block;
 }

 .footer {
   background-image: url('/starter-code/desktop/image-footer.jpg');
   background-repeat: no-repeat;
   max-width: 1200px;
   margin: 0 auto;
   height: 300px;
 }
 
 .circle-footer{
   bottom: 67%;
 }
 
}